  <nav>
    <mat-toolbar>
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon svgIcon="qr-code">menu</mat-icon>
      </button>
      <span>Kraft QR</span>
      <!-- <span class="bar-spacer"></span>
      <button mat-icon-button color="accent" aria-label="Example icon-button with heart icon">
        <mat-icon svgIcon="support"></mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon-button with share icon">
        <mat-icon svgIcon="task"></mat-icon>
      </button> -->
    </mat-toolbar>
  </nav>