  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
    <div>
      <label for="qrData">QR Code Data:</label>
      <input id="qrData" [(ngModel)]="qrData" (ngModelChange)="generateQRCode()" placeholder="Enter data for QR Code" />

      <label for="qrSize">Size (pixels):</label>
      <input id="qrSize" type="number" [(ngModel)]="qrSize" (ngModelChange)="generateQRCode()" />

      <label for="errorCorrectionLevel">Error Correction Level:</label>
      <select id="errorCorrectionLevel" [(ngModel)]="errorCorrectionLevel" (ngModelChange)="generateQRCode()">
        <option value="L">Low (7%)</option>
        <option value="M">Medium (15%)</option>
        <option value="Q">Quartile (25%)</option>
        <option value="H">High (30%)</option>
      </select>

      <label for="colorDark">Dark Color:</label>
      <input id="colorDark" [(ngModel)]="colorDark" (ngModelChange)="generateQRCode()" placeholder="e.g., #000000" />

      <label for="colorLight">Light Color:</label>
      <input id="colorLight" [(ngModel)]="colorLight" (ngModelChange)="generateQRCode()"
        placeholder="e.g., #ffffff00" />

      <canvas #canvasElement></canvas>
      <button type="button" (click)="downloadQRCode()" title="Los gehts">
        <span class="ml-1">Download QR Code</span>
      </button>

    </div>