/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
  background: var(--mdc-fab-container-color) !important;
}

.update-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffb787;
  color: black;
  text-align: center;
  padding: 1em;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}
.update-banner p {
  margin: 0;
}
.update-banner button {
  margin-left: 10px;
  padding: 0.5em;
  border: none;
  background-color: #004f4f;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.update-banner button:hover {
  background-color: #004f4f;
}

.card-container {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    margin: 16px 16px 0 16px;
    opacity: 0.96;
    border: solid 1px !important;

    canvas {
      max-width: calc(100vw - 65px);
      max-height: calc(100vw - 65px);
    }
  
    &:last-child {
      margin: 16px;
    }
  }
  
  @media screen and (min-width: 720px) {
    .card-container {
      flex-direction: row;
    }
  
    .card {
      flex: 1;
      margin: 16px 8px 16px 16px;
      max-width: calc(50% - 24px);
  
      &:last-child {
        margin: 16px 16px 16px 8px;
      }
  
      &:only-child {
        margin: 16px;
        max-width: 100%;
      }
    }
  }
  
  mat-form-field {
    width: 100%;
  }

  .mat-mdc-card-header-text {
    margin-bottom: 16px; // Standardmäßig margin-bottom hinzufügen
  }
  
  .mat-mdc-snack-bar-handset {
    margin-bottom: env(safe-area-inset-bottom) !important;
  }
  
  .bar-spacer {
    flex: 1 1 auto;
  }
  
  .icon-avatar {
    align-self: center;
    justify-content: center;
  
    * {
      height: 40px !important;
      width: 40px !important;
    }
  }
  
  .css-util {
    &.text-align {
      &.center {
        text-align: center;
      }
    }
  
    &.m-32 {
      margin: 32px
    }
  
    &.ml-16 {
      margin-left: 16px
    }
  
    &.position {
      position: absolute !important;
  
      &.center {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
      }
  
      &.top-right {
        right: 0 !important;
        top: 0 !important;
      }
    }
  }